<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> hello cu den</h1>
    <!-- <a href="@/login"></a> -->

    <table>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>age</td>
            <td>phone</td>
            <td>email</td>
            <td>cccd</td>
            <td>address</td>
        </tr>
        
        <tr th:each="user : ${userlist}">
            <td th:text="${user.uid}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.cccd}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.role}"></td>
        </tr>
    </table>
</body>

</html>