<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
</head>

<body>
    <h1> hello</h1>
    <div th:if="${session.userafterlogin == null}"><a th:href="@{/login}">Login</a></div>
    <div th:if="${session.userafterlogin != null}">Hello <span th:text="${session.userafterlogin.name}"></span></div> <br>
    <a th:if="${session.userafterlogin != null}" th:href="@{/logout}">Logout</a>
    <div th:if="${session.userafterlogin.role == S}"><a th:href="@{/addproduct}"></a></div>

    <table>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>type</td>
            <td>detail</td>  
        </tr>
        
        <tr th:each="product : ${productlist}">
            <td th:text="${product.pid}"></td>
            <td th:text="${product.pName}"></td>
            <td th:text="${product.TypeProduct.tName}"></td>
            <td><a th:href="@{/productdetail/{id}(id = ${product.pid})}">detail</a></td>
        </tr>
    </table>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<style>
    a {
        text-decoration: none;
        color: black;
    }
</style>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">All Products</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                            <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            <li th:if="${session.userafterlogin != null and session.userafterlogin.role == 'S'}"><a
                                    class="dropdown-item" th:href="@{/showaddproduct}">Add new product</a></li>
                            <li th:if="${session.userafterlogin != null}"><a class="dropdown-item"
                                    th:href="@{/showUserAllOrders}">View all orders</a></li>
                            <li th:if="${session.userafterlogin != null and session.userafterlogin.role == 'A'}"><a
                                    class="dropdown-item" th:href="@{/showduyetproduct}">View pending approval</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <form th:action="@{/search}" method="post" class="d-flex" style="margin-right: 20px;">
                    <input class="form-control me-1" type="search" name="search" placeholder="Search"
                        aria-label="Search">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>

                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit" style="margin-right: 10px;">
                        <i class="bi-cart-fill me-1"></i>
                        <a th:if="${session.userafterlogin == null}" th:href="@{/showCart}">Cart</a>
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                    <button class="btn btn-outline-dark" type="submit">
                        <p class="bi-cart-fill me-1">
                        <div th:if="${session.userafterlogin == null}"><a style="text-decoration: none;"
                                th:href="@{/login}">Login</a></div>
                        <div th:if="${session.userafterlogin != null}">Hello <span
                                th:text="${session.userafterlogin.name}"></span></div>
                        </p>
                    </button>
                    <button th:if="${session.userafterlogin == null}" class="btn btn-outline-dark">
                        <!-- <div th:if="${session.userafterlogin == null}"><a th:href="@{/showsignup}">sign up</a></div> -->
                        <a th:href="@{/showsignup}">sign up</a>
                    </button>
                    <div class="btn btn-outline-dark" th:if="${session.userafterlogin != null}"><a
                            th:href="@{/logout}">logout</a></div>
                </form>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">

        <div style="display: flex; margin: 0 150px 0 200px;">
            <form th:action="@{/filter}" method="post" style="display: flex;">
                <select class="form-select" aria-label="Default select example" name="typeProduct">
                    <option selected>Chọn loại sản phẩm</option>
                    <div th:each="type : ${typelist}">
                        <option th:value="${type.tid}" th:text="${type.tName}"></option>
                    </div>

                </select>
                <button type="submit" style="margin-left: 10px;">Filter</button>
            </form>
        </div>



        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5" th:each="product : ${productlist}">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                        </div>
                        <!-- Product image-->
                        <img class="card-img-top" th:src="${product.img}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder" th:text="${product.pName}"></h5>
                                <!-- Product reviews-->

                                <!-- Product price-->
                                <span th:text="${product.price}"></span>

                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                    th:href="@{/productdetail/{id}(id = ${product.pid})}">view detail</a>
                            </div>
                        </div>

                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent"
                            th:if="${session.userafterlogin != null and session.userafterlogin.role == 'S'}">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                    th:href="@{/showeditproduct/{id}(id = ${product.pid})}">edit product</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

</body>

</html>